{% extends 'base.html' %}
{% load static %}

{% block title %}HoneyDo - Login{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-honey-light">
    <div class="w-full max-w-md">
        <form class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4" method="post">
            {% csrf_token %}
            <div class="mb-6 text-center">
                <img src="{% static 'images/logo.png' %}" alt="HoneyDo Logo" class="mx-auto h-32 mb-4"> <!-- Increased size to h-32 -->
                <h2 class="text-2xl font-bold text-navy">Welcome Back!</h2>
                <p class="text-sm text-gray-600">Please sign in to your account</p>
            </div>
            {% if form.errors %}
                <div class="mb-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold">Error:</strong>
                    <span class="block sm:inline">Please enter a correct username and password.</span>
                </div>
            {% endif %}
            <div class="mb-4">
                <label class="block text-navy text-sm font-bold mb-2" for="{{ form.username.id_for_label }}">
                    Username
                </label>
                {{ form.username }}
            </div>
            <div class="mb-6 relative">
                <label class="block text-navy text-sm font-bold mb-2" for="{{ form.password.id_for_label }}">
                    Password
                </label>
                <div class="flex items-center">
                    {{ form.password }}
                    <button type="button" class="ml-2 text-honey-accent hover:text-honey-dark focus:outline-none" onclick="togglePasswordVisibility()">
                        <i id="passwordToggleIcon" class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-honey-dark hover:bg-honey-accent text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out" type="submit">
                    Sign In
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-honey-accent hover:text-honey-dark" href="#">
                    Forgot Password?
                </a>
            </div>
        </form>
        <p class="text-center text-navy text-sm">
            Don't have an account? 
            <a href="{% url 'register' %}" class="font-bold text-honey-accent hover:text-honey-dark">Sign up</a>
        </p>
    </div>
</div>

<script>
function togglePasswordVisibility() {
    const passwordInput = document.getElementById('{{ form.password.id_for_label }}');
    const passwordToggleIcon = document.getElementById('passwordToggleIcon');
    
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        passwordToggleIcon.classList.remove('fa-eye');
        passwordToggleIcon.classList.add('fa-eye-slash');
    } else {
        passwordInput.type = 'password';
        passwordToggleIcon.classList.remove('fa-eye-slash');
        passwordToggleIcon.classList.add('fa-eye');
    }
}
</script>
{% endblock %}